---
---

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}

a, a:hover, a:visited {
  color: #000000;
  display: inline-block;
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  text-decoration: none;
}

a.arrow {
  background-repeat: no-repeat;
  background-size: 24px;
  margin-right: -2px;

  &.external {
    background-position: right center;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAAEEfUpiAAAABGdBTUEAALGPC/xhBQAAAQRJREFUWAntVmsOwiAMRuMV1Evo/X95Cm+hh5h8Jt0KK5TKIzGBZKEr/R7r2MM5ZSxHVvBksQtO+MLQGC4WSZHbEwskUKcc97KT6LT42AkNSxwSStptWHFrkCDiaWrfzSctuO/+JTAIA3cnLhHFBLpHefUUQAKrxbOgQQdSGyK414JOCieUbqmzD0GskW8IFhGYZrakhwTCjGFyEINNBBK4mCAFLiLIgVUCDQyC7ECHQTLH7MDADljeS6aXgHANFi0BXp7Cc4TPIgzTXGu+SD0Wpgca4l0NpITJdTcDmnA3A6XCzQ1YhZsZ+FW42kCtMBnIzrn/46tHvvxx8cc7yzIX/7kDHx9cS0NyUOOAAAAAAElFTkSuQmCC");
    padding-right: 26px;
  }

  &.internal {
    background-position: right 13px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAAEEfUpiAAAABGdBTUEAALGPC/xhBQAAAMlJREFUWAntkwEOgyAMRd3iQXYUj9KbiTfZzWa7WAMoBZrBNKmJIbTvt/Sjw5B7HhvwOQNfZ8EgNtOOavh6rhmQ+s23R0oOqUSnuD93suUOsTN7IJJwPgqH9tYlD3S3gHhvpacgp/5fCPAUqTsTJ1ELxaqWLHfASehTSm65N66qu/drw/WL0Iw1r0Ne9VATp1Ki6KZi7bimMwfqHJgQ5994rpP+lgY7SGSoyhG+y1Zr92/Ed8FFDjXdWuNie8diMg8uiEAeM+JiDqwbtVo8w7JSJQAAAABJRU5ErkJggg==");
    padding-right: 28px;
  }
}

ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-left: 16px;
  margin-right: 16px;
}

.logo {
  display: flex;
}

.logo-icon {
  height: 32px;
  display: inline-block;
  width: 32px;
}

.logo-icon svg {
  max-height: 100%;
  max-width: 100%;
}

.logo-text {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin-left: 8px;
}

.align-home-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
