<section id="about">
  <div class="ui centered padded grid">
    <div class="sixteen wide mobile ten wide tablet eight wide computer column">
      <div class="profile">
        <img class="ui centered circular image" src="{{ site.baseurl }}/images/profilepic.jpg" alt="Profile picture">
        <h1>{{ site.name }}</h1>
        <p>
          <span class="description">{{ site.data.translations.profession[page.lang] }}</span><br>
          <span class="location">🚩 {{ site.data.translations.location[page.lang] }}</span><br>
        </p>
        <span class="links">
          <a href="http://www.linkedin.com/in/daniellacocco"><i class="linkedin icon"></i></a>
          <a href="http://twitter.com/DaniellaCocco"><i class="twitter icon"></i></a>
        </span>
      </div>
      <p>
        {% if page.lang == 'nl' %}
          {% include nl/about.md %}
        {% else %}
          {% include en/about.md %}
        {% endif %}
      </p>
    </div>
  </div>
</section>
