<div class="logo">
  <span class="logo-icon">
    <svg
      width="256px"
      height="153px"
      viewBox="0 0 256 153"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>DC Logo</title>
      <g
        stroke-width="1"
        fill-rule="evenodd"
      >
        <g
          transform="translate(0.000000, -51.000000)"
          fill="#000000"
        >
          <g transform="translate(0.000000, 51.000000)">
            <rect
              x="103.519126"
              y="51.9357798"
              width="50.3606557"
              height="50.5321101"
            />
            <rect
              x="153.879781"
              y="0"
              width="102.120219"
              height="50.5321101"
            />
            <rect
              x="153.879781"
              y="102.46789"
              width="102.120219"
              height="50.5321101"
            />
            <rect x="0" y="0" width="102.120219" height="50.5321101" />
            <rect
              x="0"
              y="102.46789"
              width="102.120219"
              height="50.5321101"
            />
            <rect x="0" y="0" width="50.3606557" height="153" />
          </g>
        </g>
      </g>
    </svg>
  </span>
  <span class="logo-text">
    daniellacoc.co
  </span>
</div>
