<div id="main-menu">
  <div class="ui centered padded grid">
    <div class="sixteen wide mobile twelve wide tablet ten wide computer eight wide large screen seven wide widescreen column">
      <a class="logo" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/images/dc-logo.png" alt="DC Development logo" />
      </a>
      <span class="language toggle">
        <a class="en" href="{% if page.permalink-en %}{{ site.baseurl }}/{{ page.permalink-en }}{% else %}{{ site.baseurl }}/{% endif %}">
          EN
        </a> |
        <a class="nl" href="{% if page.permalink-nl %}{{ site.baseurl }}/{{ page.permalink-nl }}{% else %}{{ site.baseurl }}/nl{% endif %}">
          NL
        </a>
      </span>
    </div>
  </div>
</div>
