<section id="projects">
  <div class="ui stackable centered padded grid">
    <div class="eight wide column">
      <h2 class="ui horizontal divider header">{{ site.data.translations.projects_heading[page.lang] }}</h2>
    </div>
  </div>
  <div class="ui centered padded grid">
    <div class="sixteen wide mobile twelve wide tablet eight wide computer column">
      <div class="ui two stackable link cards">
        {% if page.lang == 'nl' %}
          {% assign projects = site.projects | where: "lang", "nl" %}
        {% else %}
          {% assign projects = site.projects | where: "lang", "en" %}
        {% endif %}
        {% for project in projects %}
          <div class="ui fluid card">
            <div class="image">
              <img src="{{ project.img_small }}" data-src="{{ project.img_large }}" alt="{{ project.img_alt }}">
            </div>
            <div class="content">
              <div class="header">Title</div>
              <div class="meta">
                <a>Friends</a>
              </div>
              <div class="description">
                {{ project.description|markdownify }}
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                Joined in 2013
              </span>
              <span>
                <i class="user icon"></i>
                75 Friends
              </span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
