{% if page.lang == 'nl' %}
  {% assign projects = site.projects | where: "lang", "nl" | where: "modal", true %}
{% else %}
  {% assign projects = site.projects | where: "lang", "en" | where: "modal", true %}
{% endif %}
{% for project in projects %}
  <div class="ui modal" id="{{ project.modal_id }}">
    <i class="close icon"></i>
    <div class="content">
      {{ project.content }}
    </div>
    <div class="actions">
      {% for action in project.actions %}
        <a class="ui button" href="{{ action.url }}" target="{{ action.target }}">{{ action.text }}</a>
      {% endfor %}
      <div class="ui cancel button">Close</div>
    </div>
  </div>
{% endfor %}
