<section id="projects">
  <div class="ui stackable centered padded grid">
    <div class="sixteen wide mobile twelve wide tablet ten wide computer column eight wide large screen">
      <h2 class="ui horizontal divider header">{{ site.data.translations.projects_heading[page.lang] }}</h2>
    </div>
  </div>
  <div class="ui centered padded grid">
    <div class="fourteen wide mobile twelve wide tablet ten wide computer column eight wide large screen">
      <div class="ui two stackable cards">
        {% if page.lang == 'nl' %}
          {% assign projects = site.projects | where: "lang", "nl" %}
        {% else %}
          {% assign projects = site.projects | where: "lang", "en" %}
        {% endif %}
        {% for project in projects %}
          <div class="ui fluid card">
            <div class="image">
              <img src="{{ project.img_small }}" data-src="{{ project.img_large }}" alt="{{ project.img_alt }}">
            </div>
            <div class="content">
              <div class="header">{{ project.title }}</div>
              <div class="description">
                {{ project.description|markdownify }}
              </div>
            </div>
            <div class="extra right aligned content">
              {% for link in project.links %}
                <a class="ui mini basic {{ link.class }} button" href="{{ link.url }}">{{ link.text }}</a>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
