---
layout: compress
---
<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta charset="utf-8" />
    <link href="/assets/styles.css" rel="stylesheet" />
    <script src="/assets/turbolinks-5.2.0.min.js"></script>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-touch-icon.png?v=NmbNNr7L0x"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png?v=NmbNNr7L0x"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png?v=NmbNNr7L0x"
    />
    <link rel="manifest" href="/site.webmanifest?v=NmbNNr7L0x" />
    <link
      rel="mask-icon"
      href="/assets/safari-pinned-tab.svg?v=NmbNNr7L0x"
      color="#000000"
    />
    <link rel="shortcut icon" href="/favicon.ico?v=NmbNNr7L0x" />
    <meta name="apple-mobile-web-app-title" content="daniellaco.de" />
    <meta name="application-name" content="daniellaco.de" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body class="{{ page.bodyclass }}">
    {{ content }}
  </body>
</html>
